<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
  <servlet>
	    <servlet-name>AuthentificationServlet</servlet-name>
	    <servlet-class>service.AuthentificationServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
        <servlet-name>AuthentificationServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  
  <servlet>
  
  <servlet-name>DeconnexionServlet</servlet-name>
	    <servlet-class>service.DeconnexionServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
        <servlet-name>DeconnexionServlet</servlet-name>
        <url-pattern>/deco</url-pattern>
  </servlet-mapping>
  
  <servlet>
	    <servlet-name>TopicsGenerationServlet</servlet-name>
	    <servlet-class>service.TopicsGenerationServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
        <servlet-name>TopicsGenerationServlet</servlet-name>
        <url-pattern>/topicsgeneration</url-pattern>
  </servlet-mapping>
  
   <servlet>
	    <servlet-name>UsersGenerationServlet</servlet-name>
	    <servlet-class>service.UsersGenerationServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
        <servlet-name>UsersGenerationServlet</servlet-name>
        <url-pattern>/usersgeneration</url-pattern>
  </servlet-mapping>
  
  <servlet>
	    <servlet-name>GetTopTopicsServlet</servlet-name>
	    <servlet-class>service.GetTopTopicsServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
        <servlet-name>GetTopTopicsServlet</servlet-name>
        <url-pattern>/top10</url-pattern>
  </servlet-mapping>
  
  <servlet>
	    <servlet-name>UpvoteServlet</servlet-name>
	    <servlet-class>service.UpvoteServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
        <servlet-name>UpvoteServlet</servlet-name>
        <url-pattern>/upvote</url-pattern>
  </servlet-mapping>
  
  <servlet>
	    <servlet-name>GetVotedTopicsServlet</servlet-name>
	    <servlet-class>service.GetVotedTopicsServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
        <servlet-name>GetVotedTopicsServlet</servlet-name>
        <url-pattern>/getvotes</url-pattern>
  </servlet-mapping>

	
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value>endPoint.TopicEntityEndpoint,endPoint.UserEntityEndpoint, endPoint.TopicEndpoint</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>