<!DOCTYPE html>
<html>

<head ng-app="redditHomePage">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="WEB-INF/vue/home/script.js"></script>
  <link rel="stylesheet" href="WEB-INF/vue/home/style.css">
</head>



<body ng-controller="HsController">
  <h1>Welcome to our Reddit App</h1>
<!--
  <form method="POST" onsubmit="window.location.href = '/auth'; return false;">
    <input type="text" name="login" size="30" placeholder="add login">
    <input type="text" name="passwd" placeholder="add password">
    <input class="btn-primary" type="submit" value="Log In">
  </form>-->
  
  <table>
  <tr>
  	<td colspan="2">Our servlets:</td>
  </tr>
  <tr>
  	<td><a href="topicsgeneration">Generer les topics</a></td></br>
  	<td><a href="usersgeneration">Generer les users</a></td></br>
  	<td><a href="reddit">reddit</a></td></br>
  	<td><a href="upvote?idMSG=t35">upvote</a></td></br>
  	 <td><a href="top10">top10</a></td></br>
  </tr>

   <form ng-submit="addTopic()">
    <input type="text" ng-model="sid" size="30" placeholder="add id">
    <input type="text" ng-model="stitle" size="30" placeholder="add title">
    <input type="text" ng-model="sbody" size="30" placeholder="add body">
    <input class="btn-primary" type="submit" value="add">
  </form>


  <div ng-repeat="x in Topics">
    <p>{{x.id}}:{{x.title}}:{{x.body}}:{{x.karma}}</p>   
  </div>


<script>
  var init = function() {
    console.log("init called");
    window.init();
  };
</script>

<script src="https://apis.google.com/js/client.js?onload=init"></script>

  </table>

</body>

</html>